@import "./colour.scss";

body {
    background-color: #FFFFFF !important;
    transition: 500ms color, 500ms background-color;
}

h1, h2, h3, p, a {
    color: $dark-text-color !important;
}

.link-hover-colour:hover {
    color: violet !important;
    transition: 250ms color;
}

.hover-border {
    border-width: 1.5px;
    border-style:  solid;
    border-color: transparent;
}

.hover-border:hover {
    border-color: $dark-color;
    transition: 350ms;
}

.hover-bottom-border {
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
}

.hover-bottom-border:hover {
    border-bottom-color: $dark-color;
    transition: 350ms;
}

.opposite-theme-background {
    background-color: $dark-color;
}

.opposite-theme-fill {
    fill: $dark-color;
}

.opposite-theme-hover:hover {
    fill: #000000;
}

//Dark Theme
body.dark {
    background-color: $dark-color !important;
    transition: 500ms color, 500ms background-color;
}

body.dark * {
    color: $light-color !important;
}

body.dark .link-hover-colour:hover {
    color: $light-highlight-color !important;
    transition: 250ms color;
}

body.dark .hover-border:hover {
    border-color: $light-color;
    transition: 350ms;
}

body.dark .hover-bottom-border:hover {
    border-bottom-color: $light-color;
    transition: 350ms;
}

body.dark .opposite-theme-background {
    background-color: $light-color;
}

body.dark .opposite-theme-fill {
    fill: $light-color;
}

body.dark .opposite-theme-hover:hover {
    fill: $light-highlight-color;
}